input, select{
    height: 40px;
    border: 1px solid black;
  }
  
  .payment_btn{
    display: inline-block;
    border: 1px solid black;
  }
  
  /* input[type="radio"]{
    display: none;
  } */
  
  .sbtn{
    height: 20px;
    display: block;
  }
  
  .pink_btn{
    background-color: pink;
  }
  
  .green_btn{
    background-color: lightgreen;
  }

  .resetBtn{
    margin: 5px;
    background-color: gainsboro;
    border: none;
    border-radius: 3px;
    height: 30px;
    text-align: center;
  }

  th, td{
    width: 150px;
    text-align: center;
    border: 1px solid #ccc;
  }

  /* 以下為有被綁定的class */
  .active{
    display: none;
  }
  
  /* .important{
    border: #ccc 1px solid;
  } */

  .gray{
    border: #ccc 1px solid;
  }

  .black{
    border: black 1px solid;
  }
  
  /* 以上為有被綁定的class */

  .inputstyle{
    width: 90%;
    height: 20px;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    border: #ccc 1px solid;
  }

  .king_icon{
    display: inline-block;
    width: 30px;
    height: 30px;
  }