<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <title>記帳小幫手</title>
</head>
<body>
    <div id='app3'>
    <todo-list></todo-list>
    </div>

</body>

<script>
    // 透過 prototype 添加的 $bus 屬性是可以在不同的 Vue 實例中共享的
    Vue.prototype.$bus = new Vue();
    Vue.component('todo-list',{
        data(){
            return{
                // todos是現在所有的項目
                todos:[],
                // todosEdit是項目要更動時會用到的
                // 應在父層就定義，因為之後會改值，指定義在子層的話會改不到
                todosEdit:[
                    {
                        date:'',
                        kind:'',
                        spend:'',
                        memo:'',
                        payment: '',
                        index_key:''
                    },
                ],
                // todosShow是要顯示的項目(用於切換tab時)(動作的最後都會讓其值 = this.todos)
                todosShow:[],
            };
        },
        methods:{
            addTodo(submitData){
                // console.log(this.todosEdit[0].index_key);
                submitData.date = submitData.date.replaceAll('-', '')
                this.todos.push(submitData);
                this.todosShow = [...this.todos]
            },
            resetDate(){
                // 用sort來排列日期(回傳負數的話，前面的數在前面，回傳正整數的話，後面的數在前面)
                this.todos.sort(function(a, b) {
                    return b.date < a.date ? 1 : -1
                })
                // 如果之後是從資料庫取資料，那要再加一欄是它的index_key，要改的會是indexkey的排序，叫資料時再對indexkey來放資料(?)
                this.todosShow = [...this.todos]
            },
            itemDel(index_key){
                // 接收從下面(todo-item)傳過來的要刪除的index_key
                console.log('success!',index_key)
                let delConfirm = confirm('是否刪除此項?');
                if(delConfirm){
                    // splice(要刪除的項次, 刪除的個數)
                    for(let i=0; i<this.todos.length; i++){
                        if(this.todos[i].index_key === index_key){
                            this.todos.splice(i, 1)
                        }
                    }
                }else{}
                this.todosShow = [...this.todos]
            },
            editItem(todosEdit){
                for(let i=0; i<this.todos.length; i++){
                    if(this.todos[i].index_key === todosEdit.index_key){
                        Object.assign(this.todos[i],todosEdit)
                    }
                }
                this.todosShow = [...this.todos]
                this.todosEdit= [
                    {
                        date:'',
                        kind:'',
                        spend:'',
                        memo:'',
                        payment: '',
                        index_key:''
                    },
                ]
            },
            changeTab(tabName){
                this.todosShow = [];
                if(tabName === 'all'){
                    // this.todosShow.push(this.todos)
                    this.todosShow = [...this.todos]
                }else{
                    let needArr = ['日常飲食','電信費','交通費'];
                    let wantArr = ['學習','假日(聚餐、出遊)','治裝水水','其他(喜好)'];
                    if(tabName === 'need'){
                        this.todos.forEach(item => {
                            if(needArr.indexOf(item.kind) !== -1){
                                this.todosShow.push(item);
                            }
                        });
                    }else if(tabName === 'want'){
                        this.todos.forEach(item => {
                            if(wantArr.indexOf(item.kind) !== -1){
                                this.todosShow.push(item);
                            }
                        });
                    }
                }
            }

        },
        template:`
            <div>
                <todo-input @input='addTodo'></todo-input>
                <div class="main">
                    <kind-label @tabName='changeTab'></kind-label>
                    <table>
                        <thead>
                        <tr>
                            <th>日期<button @click="resetDate" class="resetBtn">排序</button></th>
                            <th>支出種類</th>
                            <th>花費</th>
                            <th>備註</th>
                            <th>付款方式</th>
                            <th>編輯</th>
                            <th>重要</th>
                        </td>
                        </thead>
                        <tbody>
                        <todo-item v-for='todo in todosShow' :label='todo' :todos-edit='todosEdit' @delItem="itemDel" @edit_a_item="editItem"></todo-item>
                        </tbody>
                    </table>
                </div>
            </div>      
        `
        // :label是用label綁定todo，在之後的組件中要取用todo內容時就寫label....
    });

    Vue.component('todo-input',{
        data(){
            return{
                date:'',
                kind:'',
                spend:'',
                memo:'',
                payment:''
            }
        },
        methods:{
            submit(){
                // $emit()是一個方法。為向外層傳遞事件或參數
                this.$emit('input',{
                    date: this.date, 
                    kind: this.kind, 
                    spend: this.spend, 
                    memo: this.memo,
                    payment: this.payment,
                    index_key:  new Date().getTime()
                });
                // this.$emit('input', this.date, this.kind, this.spend, this.memo);
                this.date = '';
                this.kind = '';
                this.spend = '';
                this.memo = '';
                this.payment = '';
            },
            // 要怎麼放到剛開始的input?    
            today(){
                let year  = newdate.getFullYear();
                let month = newdate.getMonth() + 1 < 10? "0" + (newdate.getMonth() + 1): newdate.getMonth() + 1;
                let date  = newdate.getDate() < 10? "0" + newdate.getDate(): newdate.getDate();
                
                let nowDay = year + "年" + month + "月" + date +"日";
            }
        },
        template:`
            <form @submit.prevent='submit'>
            <input type='date' v-model='date'/>
            <select v-model='kind'>
                <option value="日常飲食">日常飲食</option>
                <option value="電信費">電信費</option>
                <option value="交通費">交通費</option>
                <option value="學習">學習</option>
                <option value="假日(聚餐、出遊)">假日(聚餐、出遊)</option>
                <option value="治裝水水">治裝水水</option>
                <option value="其他(喜好)">其他(喜好)</option>
            </select>
            <input type='text' placeholder='150' v-model='spend'/>
            <input type='text' placeholder='輸入備註' v-model='memo'/>
            <input type="radio" name="payment" id="online" value="線上" v-model='payment'>
            <input type="radio" name="payment" id="cash" value="現金" v-model='payment'>
            <div class="payment_btn">
                <label for="online" class="sbtn pink_btn">線上</label>
                <label for="cash" class="sbtn green_btn">現金</label>
            </div>
            <button type='submit' class='submitBtn'>送出</button>
            </form>
        `
    });

    Vue.component('kind-label',{
        data(){
            return{
                isChosen: "all",
            }
        },
        methods:{
            tabName(){
                this.$emit('tabName', this.isChosen)
            }
        },
        template: `
            <div>
                <ul>
                    <li :class="{tab:isChosen == 'all'}" @click.prevent="isChosen = 'all'; tabName()"><a href="#">全部</a></li>
                    <li :class="{tab:isChosen == 'need'}" @click.prevent="isChosen = 'need'; tabName()"><a href="#">必要</a></li>
                    <li :class="{tab:isChosen == 'want'}" @click.prevent="isChosen = 'want'; tabName()"><a href="#">想要</a></li>
                </ul>
            </div>
        `
    })


    Vue.component('todo-item',{
        // props:['label','todosEdit'],
        // 用上方的寫法也是可以的，但用下面的props寫法，裡面的值會被比較清楚的定義 https://ithelp.ithome.com.tw/articles/10270207
        props:{
            label: Array,
            todosEdit: Array
        },
        data(){
            return{
                isEdit: false,
                isConfirm: true,
                isImportant: "light",
            }
        },
        methods:{
            del_item(){
                // 用emit傳index_key到父層，刪除時才有依據
                this.$emit('delItem', this.label.index_key)
            },
            edit_b_item(){
                this.isEdit = !this.isEdit
                this.isConfirm = !this.isConfirm
                // 用 Object.assign(賦值對象,賦值來源) 來複製陣列
                Object.assign(this.todosEdit[0],this.label)
            },
            edit_a_item(){
                this.isConfirm = !this.isConfirm
                this.isEdit = !this.isEdit
                // 將改好的todosEdit整個丟回父層
                this.$emit('edit_a_item', this.todosEdit[0])
            },
            important(){
                this.isImportant = this.isImportant === 'light' ? 'deep' : 'light';
            },
        },
        template:`
        <tr>
            <td><span :class="{active:isEdit}">{{label.date}}</span><input type="text" v-model="todosEdit[0].date" :class="{active:isConfirm}" class="inputstyle"></td>
            <td><span :class="{active:isEdit}">{{label.kind}}</span><input type="text" v-model="todosEdit[0].kind" :class="{active:isConfirm}" class="inputstyle"></td>
            <td><span :class="{active:isEdit}">{{label.spend}}</span><input type="text" v-model="todosEdit[0].spend" :class="{active:isConfirm}" class="inputstyle"></td>
            <td><span :class="{active:isEdit}">{{label.memo}}</span><input type="text" v-model="todosEdit[0].memo" :class="{active:isConfirm}" class="inputstyle"></td>
            <td><span :class="{active:isEdit}">{{label.payment}}</span><input type="text" v-model="todosEdit[0].payment" :class="{active:isConfirm}" class="inputstyle"></td>
            <td><button @click="edit_b_item" :class="{active:isEdit}" class="editBtn">修改</button><button @click="edit_a_item" :class="{active:isConfirm}" class="confirmBtn">確認</button><button @click="del_item" class="delBtn">刪除</button></td>
            <td><i class="fa-solid fa-crown king_icon"  @click="important" :class="isImportant"></i></td>
        </tr>
        `
    })

    // <span @click="important" class="king_icon" :class="isImportant">ICON</span>

    new Vue({
        el:'#app3',
    })
</script>

</html>